<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
    <div class="container-fluid px-5">
        <a class="navbar-brand fs-1 fw-bolder glow-text" href="#">Portfolio</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav fs-2 gap-4 mx-auto"> <!-- Adicionei mx-auto aqui -->
                <li class="nav-item">
                    <a class="nav-link px-3 hover-glow" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 hover-glow" href="#projects">Projects</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

